<form class="login" action="/alltracks" method="POST">
    <input type="text" name="user" placeholder="Nombre de Usuario" required autofocus>
    <input type="password" name="password" id="password" placeholder="Contraseña">
    <input type="submit" value="Ingresar">
    <p>¿No tiene cuenta?<a href="/users"> Registrarse</a></p>
    <br>
    <p><a href="/recoverPassword">Olvide mi contraseña</a></p>
</form>

{{#if message}}
<p id="message" class="{{message.class}}" style="position: sticky;bottom:5px">{{message.content}}</p>
{{/if}}