<form class="register" action="/auth/recoverPass" method="POST">
    <p class="reg">Recuperar Contraseña</p>
    <input type="text" name="user" id="userName" placeholder="Nombre de Usuario" required>
    <input type="password" name="newPassword" id="password" placeholder="Nueva Contraseña">
    <input type="password" name="confirmPassword" id="confirmPassword" placeholder="Repita Contraseña">
    <input type="submit" value="Enviar">
</form>
{{#if message}}
<p id="message" class="{{message.class}}" style="position: sticky;bottom:5px">{{message.content}}</p>
{{/if}}