<form class="register" action="/login" method="POST" enctype="multipart/form-data">
    <p class="reg">Formulario de Registro</p>
    <label id="avatarLabel" for="avatar" onmouseout="labelValue() ">Imagen de Perfil (Opcional)
    </label>
    <input type="file" id="avatar" name="avatar" accept="image/*">
    <input type="text" name="user" id="userName" placeholder="Nombre de Usuario" maxlength="10" required>
    <input type="password" name="password" id="password" placeholder="Contraseña">
    <input type="password" name="confirmPassword" id="confirmPassword" placeholder="Repita Contraseña">
    <input type="submit" value="Enviar">

</form>
{{#if message}}
<p id="message" class="{{message.class}}">{{message.content}}</p>
{{/if}}