<form class="register" action="/login" method="POST">
    <p class="reg">Formulario de Registro</p>
    <input type="text" name="user" placeholder="Nombre de Usuario" minlength="5" required>
    <input type="password" name="password" id="password" placeholder="Contraseña">
    <input type="password" name="confirmPassword" id="confirmPassword" placeholder="Repita Contraseña">
    <input type="submit" value="Enviar">

</form>
{{#if message}}
<p class="{{message.class}}">{{message.content}}</p>
{{/if}}