<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Streaming</title>
    <link rel="icon" href="/img/favicon.ico">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/media.css">
</head>

<body>
    {{#if user}}
    <nav id="exit">
        <ul>
            <li>
                <a href="/auth/logout">
                    <img class="exit" src="/img/salir1.png" title="Salir">
                </a>
            </li>
        </ul>
    </nav>
    {{/if}}
    <header>
        <h1 class="tittle">STREAMING</h1>
    </header>

    {{{body}}}
</body>

<script src="/script.js"></script>

</html>